@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
	outline: none;
	border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
a {
	text-decoration: none;
	color: inherit;
}
ul, li {
    list-style: none;
}
:root {
	--body-color: #e4e9f7;
	--sidebar-color: #fff;
	--primary-color: cornflowerblue;
	--primary-color-light: #f0eeff;
	--toggle-color: #cdcdcd;
	--text-color: #707070;

	--tran-02: 0.2s ease-in-out;
	--tran-03: 0.3s ease-in-out;
	--tran-04: 0.4s ease-in-out;
	--tran-05: 0.5s ease-in-out;
}
ion-icon title {
    display: none;
}
.tippy-box[data-theme~='shortee'] {
  background-color: var(--toggle-color);
  color: var(--sidebar-color);
}
blue {
    color: var(--primary-color);
}
body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
	overflow: hidden;
	background: var(--body-color);
	color: #222;
	font-family: "montserrat", sans-serif;
    transition: var(--tran-02);
}
body.dark {
	--body-color: #18191a;
	--sidebar-color: #242526;
	--primary-color: cornflowerblue;
	--primary-color-light: #3a3b3c;
	--toggle-color: #fff;
	--text-color: #ccc;
}
code {
	padding: 0.5rem;
	background: #bfbfbf;
	color: #222;
	border-radius: 10px;
}
button {
    cursor: pointer;
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: #f0f0f0;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	background: #bbb;
	border-radius: 5px;
}
#app {
    width: 100%;
    height: 100%;
}
#mainApp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding: 0 30px;
    position: relative;
    left: 250px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: calc(100% - 250px);
    transition: var(--tran-02);
    background: var(--body-color);

}
header {
	text-align: center;
}
header h1 {
	font-size: 2.5rem;
	font-weight: 900;
    color: var(--primary-color);
    opacity: .88;
}
header #info {
    display: flex;
}
#allShortees {
    margin-right: 10px;
}
header #total, header #allShortees {
    padding: 0.5rem 1rem;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: var(--tran-02);
    opacity: .55;
}
#total:hover, #allShortees:hover {
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.088);
}
header #shorteeCount, header #allShorteesCount, #likesCount {
	margin: 0 5px;
	font-weight: 500;
	color: var(--primary-color);
    transition: var(--tran-02);
}
#likesCount {
    margin-left: 10px;
    font-weight: 700;
    position: relative;
}
#likes {
    margin-right: 1.25rem;
}
.like {
    position: absolute;
    top: 0;
    right:  0;
    color: var(--sidebar-color);
}
.like.fly {
    animation: flyOut 0.3s ease-in-out forwards;
}
@keyframes flyOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
#mainHeader {
    padding: 0 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar.close ~ #mainApp {
	left: 90px;
    width: calc(100% - 90px);
}

#mainForm {
	position: relative;
	display: flex;
	width: 100%;
    padding: 0 1rem;
}
#longUrlInput {
	position: relative;
	width: 100%;
	font-weight: 400;
	margin-bottom: 1rem;
}
#longUrlInput label {
	pointer-events: none;
	user-select: none;
	position: absolute;
	top: 50%;
	left: 0.75rem;
	transition: var(--tran-02);
	transform: translateY(-50%);
	padding: 0rem 0.5rem;
	font-size: 1rem;
	font-weight: 700;
	color: #bfbfbf;
    z-index: 0;
}
#longUrlInput input {
	border: 2px solid #bfbfbf;
	border-radius: 2rem;
	background: none;
	padding: 0.5rem 3rem 0.5rem 1rem;
	width: 100%;
    color: var(--text-color);
}
#longUrlInput input:not(:placeholder-shown) + label {
	background: var(--body-color);
	color: #bfbfbf;
	top: -2px;
}
#longUrlInput input:not(:placeholder-shown) ~ #paste-btn {
	opacity: 0;
	visibility: hidden;
}
#longUrlInput input:not(:placeholder-shown) ~ #clear-btn {
	opacity: 1;
	visibility: visible;
}

#longUrlInput ion-icon {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	color: #bfbfbf;
	cursor: pointer;
	font-size: 1.5rem;
	transition: var(--tran-02);
	padding: 0.5rem;
	border: 2px solid #bfbfbf;
	border-radius: 50%;
}
#longUrlInput ion-icon:last-child {
	opacity: 0;
	visibility: hidden;
}
#longUrlInput ion-icon:hover,
#mainForm button:hover {
	background: #bfbfbf !important;
	color: var(--body-color);
}
#mainForm button {
	height: 44px;
	padding: 0.5rem 1rem;
	border: 2px solid #bfbfbf;
	border-radius: 2rem;
	background: none;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	color: #bfbfbf;
	margin-left: 10px;
	transition: var(--tran-02);
	user-select: none;
}

.count {
	font-weight: 500;
}
.longUrl {
	color: var(--primary-color);
	background: none;
}
/* .shortee {
	cursor: pointer;
} */
.delete {
	cursor: pointer;
	z-index: 0;
}
ul {
	list-style: none;
}
#shorteesList {
	--gap: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: var(--gap);
	width: 100%;
	padding: 0.5rem 1rem;
	overflow-y: auto;
	grid-auto-flow: dense;
	z-index: 99;
}
.shortee {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: var(--sidebar-color);
    color: var(--text-color);
	border-radius: 5px;
	padding: 0.5rem;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	transition: var(--tran-02);
}
body.dark .shortee:hover {
    filter:brightness(1.2)
}
.shorteeLink::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 1px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform var(--tran-02);
}

.shorteeLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.shorteeHeader {
	user-select: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 700;
	padding-left: 0.5rem;
}
.shorteeBody {
	position: relative;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 1rem;
}
.shorteeFooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	user-select: none;
	margin-top: 1rem;
	font-size: 0.8rem;
	white-space: nowrap;
}
.shorteeLink {
	cursor: pointer;
    position: relative;
}
.shorteeBtns ion-icon {
	font-size: 1.25rem;
	cursor: pointer;
	transition: var(--tran-02);
	border-radius: 5px;
	padding: 5px;
    visibility: hidden;
    opacity: 0;
}
.shortee:hover ion-icon {
    opacity: 0.5;
    visibility: visible;
}
.shorteeBtns ion-icon:hover {
    opacity: 1;
}
.copyLongLink:hover {
	color: #2196f3;
	background: #2195f33a;
}
.deleteBtn:hover {
	color: #f44336;
	background: #f443363a;
}
.shorteeFooter span {
	padding: 5px 10px;
	border-radius: 5px;
	background: var(--primary-color-light);
	color: #aaa;
    transition: var(--tran-02);
}
.longLink {
	color: var(--primary-color);
	background: none;
	padding: 0;
}
.shorteeClicks {
	margin-right: 5px;
}
#noShorteeTxt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	font-weight: 900;
	color: var(--text-color);
	padding: 1rem;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 0;
	display: none;
	user-select: none;
	width: 100%;
    opacity: .2;
}
body.dark #noShorteeTxt {
    opacity: .05;

}
#noShorteeTxt p {
	text-align: center;
}
#noShorteeTxt.show {
	display: flex;
}
#loginWrapper {
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: #eee;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align: center;
}
#loginBtn {
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    background: #fff;
    color: #222;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: var(--tran-02);
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
#loginBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(80deg, transparent, rgba(255,255,255,.25), transparent);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
    transition-delay: .2s;
    transform-origin: left;

}
#loginBtn:hover::before {
    transform: translateX(100%);
    transform-origin: right;
}
#loginBtn ion-icon {
    margin-right: 10px;
}
#loginBtn:hover {
    background: #222;
    color: #eee;
}
#loginWrapper h2 {
    font-weight: 900;
    font-size: 2rem;
}
#loginWrapper p {
    font-size: 1.25rem;
    font-weight: 500;
    color: #222;
    margin-bottom: 1rem;
}
#loginWrapper.hide {
    display: none;
}
#user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#user #name {
    color: var(--primary-color);
    line-height: 1.2rem;
    padding-bottom: 3px;
    border-bottom: 2px dashed var(--primary-color);
    white-space: nowrap;
    transition: var(--tran-02);
}
#user img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    border: solid 3px var(--primary-color);
}
.sidebar.close #user #name {
    opacity: 0;
    visibility: hidden;
}
#loadingWrapper, #pageLoadingWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: var(--body-color);
    display:flex;
    align-items:center;
    justify-content:center;
    transition: var(--tran-02);
}
#loadingWrapper.hide, #pageLoadingWrapper.hide {
    opacity: 0;
    visibility: hidden;
}
.circle-loading, .form-loading {
    width: 2rem;
    height: 2rem;
    border-radius: 15rem;
    position: relative;
    margin: 0 auto;
    --color: var(--text-color);
    pointer-events: none;
}
#mainForm button.active {
    position: relative;
    background: var(--sidebar-color);
    color: var(--sidebar-color);
    cursor: default;
}
#mainForm button.active .form-loading {
    opacity: 1;
}
.form-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 1.5rem;
    height: 1.5rem;
}
.circle-loading::before, .form-loading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 0.2rem solid transparent;
    border-right-color: var(--color);
    border-bottom-color: var(--color);
    animation: circleLoading .88s forwards infinite linear;
}
@keyframes circleLoading {
to {
    transform: rotate(360deg);
}
}
#likeField {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

#confirmWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 1rem;
    z-index: 9999999;
    background: #eee;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display:flex;
    align-items:center;
    justify-content:center;
    transition: var(--tran-02);
    flex-direction: column;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(.9);

}
#confirmWrapper.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}
#confirmWrapper h2 {
    font-weight: 900;
}
#confirmIcon {
    font-size: 3.8rem;
    color: coral;
}
#confirmBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    width: 100%;
}
#confirmBtns button {
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    transition: var(--tran-02);
    user-select: none;
    width: 100%;
}
#confirmBtnYes {
    margin-right: 1rem;
    border: dashed #bbb;
    color: #bbb;
}
#confirmBtnYes:hover {
    background: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
}
#confirmBtnNo {
    border: 2px solid coral;
    color: coral;
}
#confirmBtnNo:hover {
    background: coral;
    color: #fff;
}
#overlay {
	width: 100%;
	height: 100%;
	background: linear-gradient(226deg,#3E3E3E80 0,#00000080 100%);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	transition: 0.3s ease-in-out;
	opacity: 0;
	visibility: hidden;
}
#overlay.show {
	opacity: 1;
	visibility: visible;
}

@media screen and (max-width: 425px) {
    header h1 {
        font-size: 1.5rem;
    }
    #shorteesList {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    #mainApp {
        padding: 0;
    }
    .shorteeFooter {
        margin-top: 0.5rem;
    }
    .shorteeLink {
        font-size: 1.2rem;
        font-weight: 900;
    }
    .shorteeFooter span:last-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #mainForm {
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin-bottom: 0.5rem;
    }
    #mainForm #longUrlInput{
        margin-bottom: 0.5rem;
    }
    #mainForm #shortUrlBtn {
        margin-left: 0;
    }
    #user {
        padding-left: 0;
    }

}
@media screen and (max-width: 768px) {
    #mainHeader {
        flex-direction: column;
        z-index: 1000;
    }
    #info {
        flex-direction: column;
        justify-self: center;
        align-self: center;
        width: 100%;
        margin-bottom: 0.75rem;
    }
    #allShortees {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
    #mainHeader span {
        width: 100%;
    }
    .shorteeBtns ion-icon {
        visibility: visible;
        opacity: .5;
    }

}

.sidebar .text {
	font-size: 16px;
	font-weight: 500;
	color: var(--text-color);
	transition: var(--tran-02);
    white-space: nowrap;

}
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 250px;
	background-color: var(--sidebar-color);
	padding: 15px;
	transition: var(--tran-03);
	z-index: 998;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.088);
}
.sidebar.close {
    width: 90px;
    box-shadow: none;
}
.sidebar.close .text {
	opacity: 0;
}
.sidebar header {
	position: relative;
	user-select: none;
}
.sidebar li {
	height: 50px;
	margin-top: 10px;
	list-style: none;
	display: flex;
	align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidebar li ion-icon {
	min-width: 60px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sidebar li ion-icon {
	color: var(--text-color);
	transition: var(--tran-03);
}
.sidebar header .toggle-btn {
	position: absolute;
	top: 50%;
	right: -30px;
	transform: translateY(-50%) rotate(180deg);
	width: 30px;
	height: 30px;
	background: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 50%;
	color: var(--sidebar-color);
	font-size: 1.5rem;
	transition: var(--tran-03);
	cursor: pointer;
}
.sidebar.close header .toggle-btn {
	transform: translateY(-50%) rotate(0deg);
}
body.dark .sidebar header .toggle-btn {
	color: var(--text-color);
}
.search-box {
	background-color: var(--primary-color-light);
	border-radius: 5px;
	transition: var(--tran-03);
}
.search-box input::placeholder {
	color: var(--text-color);
}
.search-box input {
	height: 100%;
	width: 100%;
	background: transparent;
	font-size: 16px;
	font-weight: 500;
	color: var(--text-color);
}
.search-box ion-icon {
	cursor: pointer;
}
.sidebar .menu {
	margin-top: 0.5rem;
}
.menu-bar li a {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	transition: var(--tran-03);
	border-radius: 5px;

}
.menu-bar li a:hover {
	background-color: var(--primary-color);
}
.menu-bar li a:hover ion-icon,
.menu-bar li a:hover .text,
.menu-bar li a:hover #likesCount {
    color: var(--sidebar-color);
}

body.dark .menu-bar li a:hover .text, body.dark .menu-bar li a:hover ion-icon {
    color: var(--sidebar-color) !important;
}
body.dark .menu-bar li a:hover ion-icon,
body.dark .menu-bar li a:hover .text {
	color: var(--text-color);
}
.sidebar .menu-bar {
	height: calc(100% - 50px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.menu-bar .mode {
	position: relative;
	border-radius: 5px;
	background: var(--primary-color-light);
	transition: var(--tran-03);
}
.menu-bar .mode .moon-sun {
	height: 50px;
	width: 60px;
	display: flex;
	align-items: center;
	transition: var(--tran-03);
}
.menu-bar .mode ion-icon {
	transition: var(--tran-02);
	position: absolute;
}
.menu-bar ion-icon.sun {
	/* background: var(--text-color); */
	opacity: 0;
}
body.dark .menu-bar .mode .moon-sun ion-icon.sun {
	opacity: 1;
}
body.dark .menu-bar .mode .moon-sun ion-icon.moon {
	opacity: 0;
}
.menu-bar .mode .toggle-switch {
	position: absolute;
	right: 0px;
	height: 100%;
	min-width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
}
.toggle-switch .switch {
	position: relative;
	height: 22px;
	width: 44px;
	border-radius: 11px;
	background: var(--toggle-color);
}
.switch::before {
	content: "";
	height: 15px;
	width: 15px;
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	background: var(--sidebar-color);
	border-radius: 50%;
	transition: var(--tran-02);
}
body.dark .switch::before {
	left: 24px;
}
#pageWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: var(--tran-02);
    background-color: var(--sidebar-color);
    color: var(--text-color);
    z-index: 10000;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
#pageWrapper.open {
    opacity: 1;
    visibility: visible;
}
#pageHeader {
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    color: var(--primary-color);
}
#pageContent.hide {
    display: none;
}
#usageContent {
    text-align: justify;
}
@media only screen and (max-width: 425px) {
	body,
	html {
		overflow-x: hidden;
	}
	.sidebar ~ #mainApp {
		width: calc(100% - 60px);
		overflow: hidden;
		opacity: 0.1;
	}   
	.sidebar.close ~ #mainApp {
		overflow: auto;
		opacity: 1;
		left: 60px;
        width: calc(100% - 60px);
    }

	.sidebar {
		height: 100vh;
		padding: 10px;
	}
	.sidebar.close {
		width: 60px;
	}
	.sidebar .text {
		font-size: 12px;
	}
	.sidebar header {
		padding: 0px;
	}
	.sidebar .menu-bar {
		height: calc(100% - 50px);
	}
	.sidebar .menu-bar .menu {
		margin-top: 0px;
	}
	.sidebar li {
		height: 40px;
	}
	.sidebar li ion-icon {
		min-width: 40px;
	}
	.menu-bar .mode .toggle-switch {
		min-width: 40px;
	}
	.toggle-switch .switch {
		height: 16px;
		width: 32px;
	}
	.switch::before {
		content: "";
		height: 12px;
		width: 12px;
		top: 50%;
		left: 3px;
	}
	body.dark .switch::before {
		left: 18px;
	}
	.sidebar.close .moon-sun {
		opacity: 0;
	}
	.sidebar.close .image-text .image {
		width: 40px;
		height: 30px;
		font-size: 0.5rem;
	}
	.sidebar header .toggle-btn {
		width: 20px;
		height: 20px;
		right: -20px;
	}
}